[Interface]
PrivateKey = CHANGE_ME
Address = CHANGE_ME_TUNNEL_IPV4/CIDR
DNS = 8.8.8.8, 1.1.1.1
MTU = 1420

[Peer]
PublicKey = CHANGE_ME
PresharedKey = CHANGE_ME
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
Endpoint = vpn.example.com:51820
